@font-face {
  font-family: 'Maison Neue';
  src: url("./fonts/hinted-MaisonNeue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: "Maison Neue";
	margin: 0;
	padding: 0;
	background-color: black;
	font-size: 3.8rem;
}

@media only screen and (max-width: 600px){
	body{
		font-size: 3rem;
	}
}



#splashTitle{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
	color: white;
	text-align: center;
}

#splashTitle p {
	max-width: 60vw;
	color: white;
	/* filter: invert(100%); */
	mix-blend-mode: difference;
}

@media only screen and (max-width: 600px){
	#splashTitle p {
		max-width: 70vw;
	}
}


#planeContainer{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: black;
	perspective: 140vw;
}

#plane1{
	position: absolute;
	width: 150vw;
	height: 90vw;
	transform-style: preserve-3d;
	transform: translateZ(-30vw) translateY(26vh) translateX(-56vw) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;
	background-image: url("halcyon1.gif");
	background-color: yellow;
	background-position: center;
	background-size: 150vw 90vw;
	z-index: 9;
	animation: plane1anim 69s infinite linear;
}

@keyframes plane1anim {
  from {transform: translateZ(-30vw) translateY(26vh) translateX(-56vw) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;}
  to {transform: translateZ(-30vw) translateY(26vh) translateX(-56vw) rotateY(429deg) rotateZ(10deg) rotateX(10deg) ;}
}

#cube{
	width: 70vw;
	height: 70vw;
	position: fixed;
	transform-style: preserve-3d;
	transform: translateX(60vw) translateY(10vh) translateZ(-35vw) rotateX(-24deg) rotateY(-22deg) rotateZ(-5deg);
	transition: transform 2s ease;
	animation: cubeSpin 40s infinite linear;
	z-index: 9999;
}

@keyframes cubeSpin {
	0% {transform: translateX(60vw) translateY(0vh) translateZ(-35vw) rotateX(0deg) rotateY(-10deg) rotateZ(-5deg)}
	100% {transform: translateX(60vw) translateY(0vh) translateZ(-35vw) rotateX(359deg) rotateY(-10deg) rotateZ(-5deg)}
}

#cubeFace1{
	position: absolute;
	width: 70vw;
	height: 40vw;
	transform-style: preserve-3d;
	transform: rotateY(  0deg) translateZ(20vw);
	background-image: url("mushrooms_top.gif");
	background-color: green;
	background-position: center;
	background-size: 100% 100%;
	/* transition: transform 2s ease; */
	/* animation: plane2anim 7s infinite alternate; */
	transform: rotateY(  0deg) translateZ(20vw);
}



#cubeFace2{
	position: absolute;
	width: 70vw;
	height: 40vw;
	transform-style: preserve-3d;
	transform: rotateX( 90deg) translateZ(20vw);
	background-image: url("mushrooms_bottom.gif");
	background-color: red;
	background-position: center;
	background-size: 70vw 40vw;
	/* transition: transform 2s ease; */
	/* animation: plane3anim 9s infinite alternate; */
}

#cubeFace3{
	position: absolute;
	width: 70vw;
	height: 40vw;
	transform-style: preserve-3d;
	transform: rotateY(180deg) translateZ(20vw);
	background-image: url("mushrooms_top.gif");
	background-color: red;
	background-position: center;
	background-size: 70vw 40vw;
	/* transition: transform 2s ease; */
	/* animation: plane3anim 9s infinite alternate; */
}

#cubeFace4{
	position: absolute;
	width: 70vw;
	height: 40vw;
	transform-style: preserve-3d;
	transform: rotateX(-90deg) translateZ(20vw);
	background-image: url("mushrooms_bottom.gif");
	background-color: red;
	background-position: center;
	background-size: 70vw 40vw;
	/* transition: transform 2s ease; */
	/* animation: plane3anim 9s infinite alternate; */
}



#plane4{
	position: absolute;
	width: 40vw;
	height: 35vw;
	transform-style: preserve-3d;
	transform: translateZ(-30vw) translateX(00vh) translateY(-20vh) rotateX(-05deg) rotateY(10deg) rotateZ(05deg);
	background-image: url("clams_1.gif");
	/* background-color: purple; */
	background-position: center;
	background-size: 100% 100%
	/* transition: transform 2s ease; */
	/* animation: plane4anim 19s infinite alternate; */
	z-index: 13;
}

@keyframes plane4anim {
  from {transform: translateZ(-35vw) rotateX(14deg) rotateY(14deg);}
  to {transform: translateZ(-35vw) rotateX(1deg) rotateY(64deg);}
}