@font-face {
  font-family: 'Maison Neue';
  src: url("./fonts/hinted-MaisonNeue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: "Maison Neue";
	margin: 0;
	padding: 0;
	background-color: black;
	font-size: 3.8rem;
}

@media only screen and (max-width: 600px){
	body{
		font-size: 3rem;
	}
}

#splashTitle{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	color: white;
	text-align: center;
}

#splashTitle p {
	max-width: 60vw;
	color: white;
}

@media only screen and (max-width: 600px){
	#splashTitle p {
		max-width: 70vw;
	}
}

#planeContainer{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: black;
	perspective: 140vw;
}

#plane1{
	position: absolute;
	width: 150rem;
	height: 90rem;
	top: -20rem;
	left: -40rem;
	transform-style: preserve-3d;
	transform: translateZ(-70rem) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;
	background-image: url("elephant.gif");
	background-position: center;
	background-size: 150rem 90rem;
	z-index: 9;
	animation: plane1anim 69s infinite alternate linear;
}

@keyframes plane1anim {
  from {transform: translateZ(-70rem) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;}
  to {transform: translateZ(-37rem) rotateY(-70deg) rotateZ(10deg) rotateX(10deg) ;}
}

@media only screen and (min-width: 600){
	#plane1{
		position: absolute;
		width: 150rem;
		height: 90rem;
		top: -20rem;
		left: -40rem;
		transform-style: preserve-3d;
		transform: translateZ(-70rem) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;
		background-image: url("elephant.gif");
		background-position: center;
		background-size: 150rem 90rem;
		z-index: 9;
		animation: plane1anim 69s infinite linear;
	}

	@keyframes plane1anim {
	  from {transform: translateZ(-70rem) rotateY(70deg) rotateZ(10deg) rotateX(10deg) ;}
	  to {transform: translateZ(-37rem) rotateY(429deg) rotateZ(10deg) rotateX(10deg) ;}
	}
}

#cube1{
	left: 30vw;
	width: 70rem;
	height: 70rem;
	position: fixed;
	transform-style: preserve-3d;
	transform: translateZ(-35rem) rotateX(-24deg) rotateY(-22deg) rotateZ(-5deg);
	animation: cube1Spin 60s infinite linear;
	z-index: 9999;
}

@keyframes cube1Spin {
	0% {transform: translateZ(-35rem) rotateX(0deg) rotateY(-10deg) rotateZ(-5deg)}
	100% {transform: translateZ(-35rem) rotateX(359deg) rotateY(-10deg) rotateZ(-5deg)}
}

.cube1Face{
	position: absolute;
	width: 70rem;
	height: 40rem;
	transform-style: preserve-3d;
	background-position: center;
	background-size: 100% 100%;
}

#cube1Face1{
	background-image: url("mushrooms_top.gif");
	transform: rotateY(  0deg) translateZ(20rem);
}
#cube1Face2{
	transform: rotateX( 90deg) translateZ(20rem);
	background-image: url("mushrooms_bottom.gif");
}
#cube1Face3{
	transform: rotateX(180deg) translateZ(20rem);
	background-image: url("mushrooms_top.gif");
}
#cube1Face4{
	transform: rotateX(-90deg) translateZ(20rem);
	background-image: url("mushrooms_bottom.gif");
}

#cube2{
	width: 20rem;
	height: 20rem;
	position: fixed;
	transform-style: preserve-3d;
	transform: translateZ(-35vw) rotateX(-24deg) rotateY(-22deg) rotateZ(-5deg);
	animation: cube2Spin 40s infinite linear;
	z-index: 99;
}

@keyframes cube2Spin {
	0% {transform: translateZ(-35vw) rotateX(-24deg) rotateY(0deg) rotateZ(-5deg);}
	100% {transform: translateZ(-35vw) rotateX(-24deg) rotateY(359deg) rotateZ(-5deg);}
}

.cube2Face{
	position: absolute;
	width: 20rem;
	height: 20rem;
	transform-style: preserve-3d;
	background-position: center;
	background-size: 100% 100%;
	background-image: url("clams.gif");
}

#cube2Face1{
	transform: rotateY(  0deg) translateZ(10rem);
}
#cube2Face2{
	transform:  rotateY( -90deg) translateZ(10rem);
}
#cube2Face3{
	transform:  rotateY(-180deg) translateZ(10rem);
}
#cube2Face4{
	transform:  rotateY(  90deg) translateZ(10rem) ;
}






